<div class="segment">
    <h1>Editando Cliente</h1>
</div>
<%= render 'form', cliente: @cliente %>
<div class="segment">
    <%= link_to 'Exibir', @cliente, class: "skewBtn"%> |
    <%= link_to 'Voltar', clientes_path, class: "skewBtn"%>
</div>