<div class="segment">
    <h1>Editando Produto</h1>
</div>

<%= render 'form', produto: @produto %>

<div class="segment">

    <%= link_to 'Exibir', @produto, class: "skewBtn"%> |
    <%= link_to 'Voltar', produtos_path, class: "skewBtn"%>
</div>